// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFb84c;
$light-yellow: #fdcb58;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #0E0000;
$light-gray: #F4F4F4;
$light-blue: #2cd3e1;
$violet: #621279;
$purple: #a459d1;
$gray: #282828;
$dark-blue: #080808;
$pink: #f266ab;
$lilac: #cb6ce6;
