.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon {
  --bs-icon-size: 1.5rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-#621279);
  background-color: #621279;
}

.container-contact{
  background-color: #a459d1;
}

.img-contact{
  max-width: 100%;
  max-height: 100vh;
}
