<h1>Magic Pills</h1>
<%# <p>Find me in app/views/pages/home.html.erb</p> %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1615715035836-43483dfaa1fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80">
  <div class="container">
    <h1>Welcome to Magic Pills <strong>where your wildest dreams come true!</strong></h1>
    <p>Explore our vast collection and unlock the secrets of extraordinary powers.</p>
    <a class="btn btn-flat" href="#">Buy now</a>
  </div>
</div>

<%= link_to 'View Products', products_path %>
